$first-color: #14191A;
$second-color: #F8D0C3;
$second-color-hover: #faecea;
$third-color: #B0323A;

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $first-color;
    letter-spacing: 2px;
}

a {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

p, h1, h2, h3, span, input, input::placeholder, li {
    font-family: Montserrat, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 100px;
}