@use 'colors' as *;

.footer {
    background: $second-color;
    width: 100%;
    height: auto;

    .footer-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        padding-top: 15px;

        @media (max-width: 800px) {
            justify-content: center;
            align-items: normal;
        }

        h1 {
            font-weight: 500;
            font-size: clamp(10px, 2vw, 24px);
        }

        .footer-nav {

            @media (max-width: 800px) {
                width: 33%;
            }

            ul {
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: clamp(8px, 1vw, 15px);

                @media (max-width: 1000px) {
                    padding-top: 5px;
                    gap: 10px;
                }

                li {

                    &::marker {
                        @media (max-width: 800px) {
                            font-size: 5px;
                        }
                    }

                    a {
                        cursor: pointer;
                        color: black;
                        position: relative;

                        &::after {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -3%;
                            content: "";
                            display: block;
                            width: 0;
                            height: 2px;
                            background: #000;
                            transition: width 0.2s ease;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .email {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            width: 25.7%;
            align-self: flex-start;

            @media (max-width: 800px) {
                margin-top: 5px;
                width: 300px;
            }

            h1 {
                font-size: clamp(14px, 2vw, 24px);
                text-align: center;
            }

            .email-input {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;
                max-width: 355px;
                padding-top: 13px;

                input {
                    width: 100%;
                    height: 35px;
                    border: none;
                    border-radius: 20px;
                    outline: none;
                    background: $third-color;
                    padding: 0 20px;
                    color: #fff;
                }

                input::placeholder {
                    color: $second-color;
                }

                div {
                    position: absolute;
                    right: 20px;
                    cursor: pointer;

                    img {
                        vertical-align: middle;
                        transition: .2s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .email-terms {
                width: 100%;
                max-width: 355px;
                font-size: 10px;
                font-weight: 300;
                text-align: justify;
                line-height: 2;
                color: #000;

                a {
                    color: #6082BF;
                }
            }
        }
    }

    .footer-line {
        margin: 30px auto 0 auto;
        background: $third-color;
        width: 92%;
        max-width: 1750px;
        height: 5px;
        border-radius: 1vw;

        @media (max-width: 1000px) {
            height: 2px;
            margin: 10px auto 0 auto;
        }

        @media (max-width: 700px) {
            margin: 5px auto 0 auto;
        }
    }

    .footer-copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        color: #4D4D4D;
        font-size: 16px;

        @media (max-width: 800px) {
            font-size: 8px;
        }

        p {
            color: inherit;
        }
    }
}

.back-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
}