@use 'colors' as *;

.footer {
    background: $second-color;
    width: 100%;
    height: 300px;

    .footer-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 89.583%;
        margin: 0 auto;
        padding-top: 15px;

        h1 {
            font-weight: 500;
            font-size: 24px;
        }

        .footer-nav {
            width: 350px;

            ul {
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: 15px;

                li {
                    a {
                        cursor: pointer;
                        color: black;
                        position: relative;

                        &::after {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -3%;
                            content: "";
                            display: block;
                            width: 0;
                            height: 2px;
                            background: #000;
                            transition: width 0.2s ease;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .email {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            width: 445px;
            align-self: flex-start;

            .email-input {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 355px;
                padding-top: 13px;

                input {
                    width: 100%;
                    height: 35px;
                    border: none;
                    border-radius: 20px;
                    outline: none;
                    background: $third-color;
                    padding: 0 20px;
                    color: #fff;
                }

                input::placeholder {
                    color: $second-color;
                }

                div {
                    position: absolute;
                    right: 20px;
                    cursor: pointer;

                    img {
                        vertical-align: middle;
                        transition: .2s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .email-terms {
                width: 355px;
                font-size: 10px;
                font-weight: 300;
                text-align: justify;
                line-height: 2;
                color: #000;

                a {
                    color: #6082BF;
                }
            }
        }
    }

    .footer-line {
        margin: 30px auto 0 auto;
        background: $third-color;
        width: 1750px;
        height: 5px;
        border-radius: 1vw;
    }

    .footer-copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        color: #4D4D4D;
        font-size: 18px;

        p {
            color: inherit;
        }
    }
}