@use "colors" as *;

.header {
    margin: 10px auto 0 auto;
    width: 93.75%;
    height: auto;
    display: flex;
    flex-direction: column;

    .header-top {
        display: flex;
        align-items: center;
        gap: 25px;

        @media (max-width: 800px) {
            align-items: flex-start;
            gap: 15px;
        }
    }

    .header-left {
        @media (max-width: 800px) {
            margin-top: 5px;
        }

        .menu-button {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 55px;
            height: 45px;
            cursor: pointer;

            @media (max-width: 1200px) {
                gap: 6px;
                width: 45px;
                height: 30px;
            }

            @media (max-width: 1000px) {
                gap: 4px;
                width: 30px;
                height: 22px;
            }

            .menu-button-rectangle {
                width: 100%;
                height: 10px;
                background: $second-color;
                border-radius: 12px;
                transition: background 0.2s ease;
            }
        }

        .menu-button:hover > .menu-button-rectangle {
            background: $second-color-hover;
        }
    }

    .header-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        .header-right-elements {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @media (max-width: 800px) {
                flex-direction: column;
                align-items: flex-start;
            }

            .name {
                position: relative;
                color: $third-color;
                font-size: clamp(24px, 2.5vw, 48px);
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                white-space: nowrap;

                @media (max-width: 800px) {
                    width: 100%;
                }

                @media (max-width: 500px) {
                    width: fit-content;
                }

                &::after {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -3%;
                    content: "";
                    display: block;
                    width: 0;
                    height: 2px;
                    background: $third-color;
                    transition: width 0.2s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }

            .search-bar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 35px;
                width: 100%;
                max-width: 855px;
                background: $second-color;
                border-radius: 20px;
                user-select: none;
                margin: 0 20px;

                @media (max-width: 1550px) {
                    width: 60%;
                }

                @media (max-width: 1200px) {
                    height: 30px;
                }

                @media (max-width: 800px) {
                    width: 100%;
                    max-width: 100%;
                    order: 3;
                    margin: 15px 0 0 0;
                }

                label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    position: relative;

                    input {
                        width: 95%;
                        outline: none;
                        border: none;
                        background: inherit;
                        padding: 0 20px;
                        letter-spacing: 1px;

                        @media (max-width: 1024px) {
                            padding: 0 10px;
                        }

                        &::placeholder {
                            letter-spacing: inherit;
                        }
                    }

                    img {
                        padding-right: 20px;
                        cursor: pointer;
                        transition: 0.2s ease;

                        @media (max-width: 1024px) {
                            padding-right: 10px;
                        }

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .icons {
                display: flex;
                gap: 40px;
                position: relative;
                right: 0;

                @media (max-width: 1600px) {
                    gap: 20px;
                }

                @media (max-width: 800px) {
                    position: absolute;
                }

                .icon-container {
                    cursor: pointer;
                    width: 64px;
                    height: 64px;
                    transition: 0.2s ease;
                    position: relative;

                    @media (max-width: 1200px) {
                        width: 42px;
                        height: 42px;
                    }

                    @media (max-width: 800px) {
                        width: 32px;
                        height: 32px;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }

                    span {
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: white;
                        font-size: clamp(10px, 1vw, 16px);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    #profile-img-change {
                        border-radius: 50%;
                    }
                }

                .favorite {
                    display: none;
                    background: $third-color;
                    z-index: 100;
                    position: absolute;
                    left: -63%;
                    top: 120%;
                    width: 400px;
                    height: 250px;
                    padding: 10px;
                    border-radius: 20px;

                    @media (max-width: 1500px) {
                        left: -75%;
                        width: 400px;
                        height: 200px;
                    }

                    @media (max-width: 1200px) {
                        left: -75%;
                        width: 300px;
                    }

                    @media (max-width: 800px) {
                        width: 280px;
                        left: -100%;
                    }

                    &.favorite-active {
                        display: block;
                    }

                    .fav-cards {
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 20px;
                        height: 100%;
                        scrollbar-color: auto;

                        ::-webkit-scrollbar {
                            width: 8px;
                        }

                        ::-webkit-scrollbar-track {
                            border-radius: 5px;
                            width: 8px;
                        }

                        ::-webkit-scrollbar-thumb {
                            border-radius: 5px;
                        }

                        .no-favorite {
                            font-size: clamp(14px, 1vw, 18px);
                            color: white;
                            text-align: center;
                            margin: auto;
                        }

                        .favorite-card {
                            display: flex;
                            justify-content: space-between;
                            background: $second-color;
                            color: black;
                            border-radius: 10px;
                            flex-shrink: 0;

                            .favorite-card-img {
                                box-sizing: content-box;
                                padding: 5px;

                                img {
                                    width: 135px;
                                    height: 90px;
                                    object-fit: contain;

                                    @media (max-width: 1000px) {
                                        width: 100px;
                                        height: 50px;
                                    }
                                }
                            }

                            .fav-left {
                                display: flex;
                                justify-content: space-between;
                                flex-direction: column;
                                width: 60%;
                                padding: 5px 0;

                                .fav-left-name {
                                    font-size: clamp(12px, 0.9vw, 16px);
                                    color: black;
                                    text-align: center;
                                }

                                .left-bottom {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 100%;

                                    .fav-name {
                                        font-size: clamp(12px, 0.9vw, 16px);
                                        color: black;


                                    }
                                    .premium {
                                         @media (max-width: 1200px) {
                                             display: none;
                                         }
                                    }

                                    .fav-icon-container {
                                        width: 36px;
                                        height: 32px;

                                        @media (max-width: 800px) {
                                            width: 26px;
                                            height: 22px;
                                        }

                                        .fav-icon {
                                            width: 100%;
                                            height: 100%;
                                            transition: .2s ease;

                                            &:hover {
                                                transform: scale(1.1);
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-bottom {
            width: 100%;
            height: 6px;
            background: $second-color;
            border-radius: 5px;
            margin: 22px auto 0 auto;

            @media (max-width: 1000px) {
                height: 2px;
                margin: 10px auto 0 auto;
            }

            @media (max-width: 800px) {
                margin: 15px auto 0 auto;
                position: relative;
                left: -4%;
            }
        }
    }
}