@use 'main' as *;

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $first-color;
    width: 150px;
    height: 99vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid $third-color;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    transform: translateX(-100%);
    transition: transform 0.35s ease;
    z-index: 100;

    &.active {
        transform: translateX(0);
    }

    .menu-back {
        cursor: pointer;
        padding: 28px 0;
        transition: 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .menu-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        p {
            font-size: 24px;
            font-weight: bold;
            color: $third-color;
        }

        .menu-content {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .content-element {
                cursor: pointer;
                width: 64px;
                height: 64px;

                img {
                    width: 100%;
                    height: 100%;
                    transition: 0.2s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .menu-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 17vh;

        .menu-line {
            height: 5px;
            width: 82px;
            border-radius: 1vw;
            background: $third-color;
        }

        img {
            cursor: pointer;
            margin-top: 16px;
            width: 64px;
            height: 64px;
            transition: 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}