.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #101616;
    width: fit-content;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.inner h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.close-form {
    right: 10px;
    top: 10px;
    position: absolute;
    transition: .2s ease;
    cursor: pointer;
}

.close-form:hover {
    transform: scale(1.1);
}

.input-container {
    padding: 50px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.input-container label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.input-container p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.input-container input {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    background: var(--second-color);
    outline: none;
    border: none;
    font-size: 20px;
    color: black;
}

.confirm {
    margin-top: 70px;
    color: white;
}

.confirm button {
    color: inherit;
    padding: 10px 80px;
    background: var(--third-color);
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: .2s ease;
}

.confirm button:hover {
    background: #7f1b20;
}

.change-form {
    padding: 190px 0 10px 0;
}

.change-form p {
    cursor: pointer;
    color: #fff;
    transition: .2s ease;
    position: relative;
}

.change-form p::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3%;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.2s ease;
}

.change-form p:hover::after {
    width: 100%;
}

.change-reg {
    padding-top: 60px;
}