.cart-main {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;
}

.empty-cart p {
    color: var(--second-color);
    font-size: clamp(20px, 3vw, 48px);
    font-weight: 500;
}

.empty-cart button {
    background: var(--third-color);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: clamp(20px, 3vw, 48px);
    padding: 20px 90px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.empty-cart button:hover {
    background: #7f1b20;
}

.has-cart {
    width: 100%;
    background: #101616;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    padding: 0 25px;
    margin: 0 auto;
}

.has-cart-top {
    display: flex;
    gap: 15px;
    align-items: baseline;
    padding-top: 10px;
}

.has-cart-top h1 {
    font-weight: 500;
    font-size: clamp(16px, 2vw, 32px);
    color: #fff;
}

.has-cart-top p {
    font-size: clamp(12px, 0.8vw, 16px);
    font-weight: 500;
}

.has-cart-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--second-color);
    padding: 20px;
    width: 825px;
    height: 200px;
    position: relative;
}

.cart-img-container {
    padding-right: 20px;
}

.cart-img-container img {
    max-width: 235px;
    max-height: 160px;
    width: auto;
    height: auto;
}

.cart-main-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-left-top {
    display: flex;
    justify-content: space-between;
    gap: 115px;
}

.cart-left-top p {
    color: black;
    font-size: clamp(13px, 1.2vw, 20px);
    width: 330px;
}

.cart-item-actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cart-item-actions .favorite-icon-container {
    width: 32px;
    height: 32px;
}

.cart-item-actions img {
    max-width: 36px;
    height: 32px;
    width: auto;
    transition: .2s ease;
    cursor: pointer;
}

.cart-item-actions img:hover {
    transform: scale(1.05);
}

.cart-left-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-left-main p {
    font-size: clamp(16px, 1.1vw, 20px);
    color: black;
    font-weight: 500;
}

.count-work {
    display: flex;
    gap: 15px;
    height: 30px;
}

.count-work img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    vertical-align: middle;
    transition: .2s ease;
}

.count-work img:hover {
    transform: scale(1.05);
}

.count-work p {
    color: black;
    font-size: clamp(30px, 2vw, 32px);
}

.cart-confirm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    background: var(--second-color);
}

.cart-confirm h1 {
    margin-top: 5px;
    font-size: clamp(16px, 1.3vw, 24px);
    font-weight: 500;
}

.cart-confirm button {
    border-radius: 20px;
    border: none;
    font-size: clamp(16px, 1.3vw, 24px);
    font-weight: 500;
    color: white;
    padding: 4px 30px;
    background: var(--third-color);
    cursor: pointer;
    transition: 0.2s ease;
}

.cart-confirm button:hover {
    background: #7f1b20;
}

.cart-confirm p {
    color: black;
    font-size: clamp(16px, 1.3vw, 20px);
    font-weight: 500;
}

.cart-left-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tomorrow {
    font-size: clamp(10px, 1vw, 16px);
    color: black;
}

@media (max-width: 1500px) {
    .cart-item {
        width: 625px;
        height: 120px;
    }

    .cart-left-top {
        gap: normal;
    }

    .cart-left-top p {
        width: 250px;
    }
}

@media (max-width: 1300px) {
    .has-cart {
        width: 80%;
    }

    .has-cart-top {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .has-cart-main {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .cart-item {
        padding: 5px;
    }

    .count-work {
        gap: 10px;
    }

    .count-work img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 900px) {
    .cart-item {
        width: 450px;
        border-radius: 10px;
    }

    .cart-img-container {
        padding-right: 5px;
    }

    .cart-img-container img {
        max-width: 150px;
        max-height: 100px;
        width: auto;
        height: auto;
    }

    .cart-left-bottom {
        height: 45px;
    }

    .cart-left-top p {
        width: 180px;
    }

    .cart-confirm {
        width: 250px;
        height: 180px;
    }

    .cart-confirm h1 {
        margin-top: 10px;
    }
}

@media (max-width: 650px) {
    .cart-item {
        flex-direction: column;
        width: 250px;
        height: 170px;
    }

    .cart-img-container {
        height: fit-content;
    }

    .cart-img-container img {
        max-width: 100px;
        max-height: 70px;
        width: auto;
        height: auto;
        vertical-align: middle;
    }

    .cart-main-left {
        gap: 10px;
    }

    .cart-left-top p {
        position: absolute;
        top: 10px;
        right: 5px;
        width: 115px;
    }

    .cart-item-actions {
        position: absolute;
        bottom: 15px;
        right: 5px;
        gap: 10px;
    }

    .cart-left-bottom {
        width: fit-content;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 8px;
    }
}