@import url("main.css");

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #101616;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    width: fit-content;
    margin: 0 auto;
}

.main h1 {
    margin-top: 5px;
    color: var(--second-color);
    font-weight: 600;
    font-size: 32px;
}

.main p {
    padding: 40px 105px 0 105px;
    font-size: 20px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    width: 1060px;
    padding-bottom: 120px;
    margin-top: 70px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 450px;
    height: 50px;
    background: var(--second-color);
    border-radius: 20px;
}

.field h1 {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.field a {
    font-size: 20px;
    color: black;
    position: relative;
    transition: .2s ease;
}

.field a::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4%;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: .2s ease;
}

.field a:hover::after {
    width: 100%;
}