.error-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.error-inner h1, p {
    color: var(--second-color);
}

.error-inner h1 {
    font-size: clamp(20px, 3vw, 40px);
}

.error-inner p {
    padding: .5vw 0;
    font-size: 14px;
}

.error-inner button {
    margin-top: 30px;
    border: none;
    background: var(--third-color);
    color: white;
    padding: 15px 40px;
    border-radius: 15px;
    font-size: clamp(20px, 3vw, 40px);
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.error-inner button:hover {
    background: #7f1b20;
}

@media (max-width: 1000px) {
    .error-inner {
        gap: 15px;
    }

    .error-inner button {
        margin-top: 35px;
    }
}