:root {
    --first-color: #14191A;
    --second-color: #F8D0C3;
    --second-color-hover: #faecea;
    --third-color: #B0323A;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--first-color);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--third-color) var(--second-color);
}

a {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

p, h1, h2, h3, span, input, input::placeholder, li, button {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
}

.mainContainer {
    min-height: 99.9vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--second-color);
}

::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 20px;
    border: 2px solid var(--second-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #7f1b20;
}

::selection {
    background: var(--third-color);
    color: white;
}

::-moz-selection {
    background: var(--third-color);
    color: white;
}