@import url("main.css");

.profile-inner {
    width: 1450px;
    height: 650px;
    margin: 100px auto;
    background: #101616;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.profile-top {
    display: flex;
    align-items: center;
    padding: 30px;
}

.img-input {
    position: relative;
    height: 200px;
    width: 200px;
}

.img-input input {
    position: absolute;
    z-index: 3;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.img-container {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.username {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    color: white;
    text-align: center;
}

.username h1 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: inherit;
}

.profile-fields {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 100px;
    width: 75.862%;
    margin: 0 auto;
}

.profile-input-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--second-color);
    width: 490px;
}

.profile-input-container p {
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0 0 10px;
    color: #2D3233;
}

.profile-input-container input {
    padding: 15px 10px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: inherit;
    font-size: 20px;
    font-weight: 500;
}

.profile-confirm-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.profile-confirm-button button {
    border: none;
    background: var(--third-color);
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    padding: 20px 75px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease;
}

.profile-confirm-button button:hover {
    background: #7f1b20;
}